/** variables  */
:root{
    font-size: 16px;
}

/** properties */
div{
    border: 0.25rem solid blue;
}
.noti-tool > * {
    width: fit-content;

}

input{
    /* width: 30rem; */
    width: clamp(10rem, 50vw, 30rem);
    border-radius: 0.6rem;
}

p{
    font-size: 0.8rem;
}

button{
    width: 30%;
    border-radius: 1rem;
}


.user-icon{
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.current-user{
    background-image: url('https://img.freepik.com/premium-vector/portrait-avatar-male-laughter-joy-smile-calmness-diversity-personage_147933-10369.jpg?w=1380');
}
.other-user1{
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-side-profile-cartoon-illustration_23-2150517168.jpg?w=1380&t=st=1720660380~exp=1720660980~hmac=c211e2ff492106c416b9e0ddc5bf58130edb17c4f0d062a3485397e702890bdd');
}
.other-user2{
    background-image: url("https://img.freepik.com/premium-vector/illustration-young-boy-with-short-black-hair-purple-sweater_995281-1445.jpg?w=1380");
}
.other-user3{
    background-image: url("https://img.freepik.com/premium-vector/smiling-boy-cartoon-character-portrait-soft-colors-flat-design-confident-man-avatar_645574-629.jpg?w=1380");
}

.noti-tool{
    gap: 1rem;
}
/** layout */
.dashboard-container{
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(100px,1fr) minmax(100px, 5fr);
}

.sidebar-column{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.header-column{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.header-column>*{
    height: 50%;
}

.content-container{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1rem;
}

.articles-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    gap: 1rem;
}

.content-title{
    grid-column: 1/3;
}

.info-sidebar-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
}

ul{
    /* display: flex;
    flex-direction: column;
    justify-content: left; */
    /* margin: 0; */
    padding: 0;
    padding-left: 1rem;
}

ul div{
    /* width: auto; */
    max-width: fit-content;
}

img{
    width: 1.5rem;
    height: 1.5rem;
}

.user-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem ;/*starts at top going clockwise*/
}
.user-tools>*{
    height: fit-content;
}
.search-tool,.noti-tool{
    display: flex;
    align-items: center;
}

.user-handles{
    display: flex;
    justify-content: space-between;
}
.user-handles>*{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    /* height: fit-content; */
}
.user-handles>*>*{/*both the user-buttons and user-handles items*/
    height: fit-content;
}

.info-sidebar-container > div:not(.section-header){
    padding: 1rem;
}

.trending-group-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trending-group-container>*{
    display: flex;
}
